.App{
    display: wrap;  
    border-radius: 20px;
    width: 60%;
    text-align: center;
    padding-bottom: 50px;
    margin-left: 25%;
    margin-top: 65px;
    margin-bottom: 20px;
    position: relative;
    border:1px solid red;
    background-color:aqua;
    opacity: 70%;
}